{% load staticfiles %}
<html>
    <head>
        <title>Followed Series</title>
        <link rel="stylesheet" href="{% static 'css/webseries.css' %}">
    </head>
<body>

<h1>{{ account.account_text }}'s account</h1>


{% if account.serie_set.all %}
    <ul>
    {% for serie in account.serie_set.all %}
       <li><a href="{% url 'listSaison' account.id serie.id %}">{{ serie.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p> You don't follow any serie.</p>
{% endif %}


<form action="ajoutSerie/" method="post">
{% csrf_token %}
    <div>
        <label for="nom">Series to add :</label>
        <input type="text" id="nom" name="serie_name" placeholder="your search"/>
    <input type="submit" value="Add Series" />
</form>

<div>

<a href="{% url 'index' %}" > Go back home  </a>
</div>

 </body>
</html>