{% load staticfiles %}
<html>
    <head>
        <title>Season details</title>
        <link rel="stylesheet" href="{% static 'css/webseries.css' %}">
    </head>
<body>

<h1>{{season.season_text}}</h1>


<img src={{season.photo2}} width="210"  height="280" alt= {{serie.name}} title="{{serie.name}}"/>

<h4> Overview </h4>
<p>{{season.overview2}}</p>

<h4> Episodes </h4>
{% if season.listEpisode %}
    <ul>
    {% for episode in season.episode_set.all %}
       <li><a href="/webseries/{{ account.id }}/serie/{{ serie.id }}/season/{{ season.id }}/episode/{{ episode.id }}"> {{episode.episodeName}} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p> No seasons are available.</p>
{% endif %}



 </body>
</html>