/* Exemple de mise en page CSS */

@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

body 
{
  color: #325050;
  background: #fff;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 70%;
}

h1 {color: #800080; font-weight: bold;}
h2 {color: #663399; font-weight: bold;}
h3 {color: #6A5ACD; font-weight: normal;}

