<HTML>
 <HEAD>
  <TITLE>Series selection</TITLE>
 </HEAD>

 <BODY>
 
<h1> By typing {{ serie_name }}, you mean one of the following series : </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="SelectionSerie/" method="post">
{% csrf_token %}
{% for idserie,nameserie in seriesdic %}
    <input type="radio" name="nameserie" id="idserie" value="{{ idserie }}" />
    <label for="idserie">{{ nameserie }}</label><br />
{% endfor %}
<input type="submit" value="Choose the serie to add" />
</form>
    </BODY>
</HTML>

 </body>
</html>